<a href="https://colab.research.google.com/github/sssoja/python-intro/blob/main/Session3_students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Session 3: Flow Control
## Rodrigo Careaga
###  11/May/2024

### Checking test answers:

#####What does the `append()` method do to a list in Python?

In [ ]:
clothes = ['tenis', 'sweater','t-shirt']

In [ ]:
clothes.append('hola')
print(clothes)

['tenis', 'sweater', 't-shirt', 'hola']

In [ ]:
clothes.insert(0,'hola')
print(clothes)

##### How do you remove an item from a list by index in Python?

In [ ]:
clothes = ['tenis', 'sweater','t-shirt']

In [ ]:
clothes.remove(1)

In [ ]:
clothes.delete(-2)

In [ ]:
clothes.pop(-2)
print(clothes)

In [ ]:
clothes.discard(-2)

##### Which method would you use to find the position of an item in a list?

In [ ]:
clothes = ['tenis', 'sweater','t-shirt']
print(clothes.index('t-shirt'))

2

#####In Python, what does the `items()` method in a dictionary return?

In [ ]:
d = {'key1': 'value1', 'key2': 'value2'}
print(d.items())

dict_items([('key1', 'value1'), ('key2', 'value2')])

Answer: A list of tuples, each containing a key and a value

##### Which of the following creates a dictionary correctly in Python?

In [ ]:
d = {'key1': 'value1', 'key2': 'value2'}
type(d)

dict

In [ ]:
d = ['key1': 'value1', 'key2': 'value2']

SyntaxError: invalid syntax (<ipython-input-65-2cbc0d61abe8>, line 1)

In [ ]:
d = ('key1': 'value1', 'key2': 'value2')

SyntaxError: invalid syntax (<ipython-input-66-ad728177e582>, line 1)

In [ ]:
d = {'key1', 'value1', 'key2', 'value2'}
type(d)

set

##### How can you create a new list that contains all elements from list `a` and `b`?

In [ ]:
a = [1,2,3,4,5,6]
b = [5,6,7,8,9,3]

In [ ]:
c = a.append(b)
print(c)

None

In [ ]:
c = a.extend(b)
print(c)

None

In [ ]:
c = a.update(b)
print(c)

AttributeError: 'list' object has no attribute 'update'

In [ ]:
c = a + b
print(c)

a.pop()
print(a)
print(c)

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 3]

##### What is the correct way to print each element in the list [1, 2, 3, 4] using a for loop?

In [ ]:
for i in [1, 2, 3, 4]:
  print(i)

1
2
3
4

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

In [ ]:
for i in len([1, 2, 3, 4]):
  print(i)

TypeError: 'int' object is not iterable

In [ ]:
for i in [1, 2, 3, 4]:
  print([i])

[1]
[2]
[3]
[4]

##### Which for loop correctly iterates over a dictionary d = {'a': 1, 'b': 2} to print its keys and values?

In [ ]:
d = {'key1': 'value1', 'key2': 'value2'}

In [ ]:
for key in d:
  print(key, d[key])

key1 value1
key2 value2

In [ ]:
for key, value in d:
  print(key, value)

ValueError: too many values to unpack (expected 2)

In [ ]:
for key in d.keys():
  print(key)

key1
key2

In [ ]:
for key, value in d.items():
  print(key)

key1
key2

### Part 1: Introduction to Loops

Loops are fundamental to programming because they allow us to repeat a block of code multiple times, which is essential for tasks that require repetitive actions. Python supports several types of loops, primarily `for` and `while`.

The `for` loop in Python is used to iterate over a sequence (such as a list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

####  The `for` Loop with `range()`

In [ ]:
# Example of `for` Loop with `range()`
for i in range(5):
  print(i)

#### Exercise - `for` Loop Over a List

In [ ]:
# Exercise: Print each item in the following list using a for loop.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

### Part 2: The `while` Loop

##### Introduction to `while` Loops

A `while` loop in Python repeats a block of code as long as a certain condition is true.

#### Example of `while` Loop

In [ ]:
# Example of `while` loop
count = 0

while count < 3:
  print(count)
  count += 1

print(f'final count: {count}')

0
final count: 1
1
final count: 2
2
final count: 3

#### Exercise - `while` Loop Control
Write a `while` loop that starts at 10 and counts down to 0.

In [ ]:
counter = 10
stop = False

In [ ]:
while stop == False:
  print(counter)
  counter -= 1
  stop = True

10

### Part 3: Conditional Statements (`if`, `else`, `elif`)

#### Introduction to Conditional Statements

Conditional statements allow us to execute certain pieces of code depending on whether a condition is true or false.

Example of `if-else` Statement

In [ ]:
# Example of `if-else` statement

age = 17

if age >= 18:
  print("You are an adult.")
print('')

In [ ]:
age = 20
status = "You are an adult." if age >= 18 else "You are not an adult."
print(status)

You are an adult.

#### Exercise: Write an `if-elif-else` chain that prints "child" if age < 13, "teen" if age is between 13 and 19, and "adult" otherwise. Ask for input, remember the correct variable type.

In [ ]:
age = 14

if age < 13:
  print("child")
elif age <= 19:
  print("teen")
else:
  print("adult")

teen

### Part 4: Reinforcement Exercises

#### Copying lists: How to copy a list without affecting the original list?

In [ ]:
#using .copy()

odd_numbers = list(range(1,21,2))
print(f'This are the odd numbers: {odd_numbers}')

new_odd_numbers = odd_numbers.copy()
print(f'This is a new list of the odd numbers: {new_odd_numbers}')

new_odd_numbers.pop(-4)
print(f'This are the odd numbers: {odd_numbers}')
print(f'This is a new list of the odd numbers: {new_odd_numbers}')

This are the odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
This is a new list of the odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
This are the odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
This is a new list of the odd numbers: [1, 3, 5, 7, 9, 11, 15, 17, 19]

In [ ]:
#Slicing it

clothes = ['sweater', 'tenis', 'pants', 'jeans', 't-shirt']
print(f'Clothes1: {clothes}')

new_clothes = clothes[:]
print(f'Clothes2: {new_clothes}')

new_clothes.remove('jeans')
new_clothes.append('cardigan')
print(f'Clothes1: {clothes}')
print(f'Clothes2: {new_clothes}')

Clothes1: ['sweater', 'tenis', 'pants', 'jeans', 't-shirt']
Clothes2: ['sweater', 'tenis', 'pants', 'jeans', 't-shirt']
Clothes1: ['sweater', 'tenis', 'pants', 'jeans', 't-shirt']
Clothes2: ['sweater', 'tenis', 'pants', 't-shirt', 'cardigan']

#### Combining Loops and Lists

##### Exercise: Create a list of numbers from 1 to 10 using a `for` loop and `append` each number squared to a new list.

In [ ]:
numbers = list(range(1, 11))
print(numbers)
squares = []

for number in numbers:
  squares.append(number ** 2)

print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Nested loops

##### Exercise: Use nested loops to create a multiplication table (from 1 to 5).

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(f'{i} * {j} = {i * j}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

### 15 minutes Break

### Part 5: Combining Loops and Dictionaries

#### Introduction to Combining Loops and Dictionaries

Loops are extremely useful when working with dictionaries as they allow you to iterate over key-value pairs, keys, or values efficiently.

#### Demonstration of Looping Over Dictionaries

In [ ]:
# Demonstration: Looping over a dictionary using a for loop to print keys and values
sample_dict = {"Name": 1, "age": 2, "height": 3}
for key, value in sample_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: Name, Value: 1
Key: age, Value: 2
Key: height, Value: 3

In [ ]:
#changing values
sample_dict['a'] = 0
print(sample_dict)

{'a': 0, 'b': 2, 'c': 3}

In [ ]:
#changing keys
sample_dict['year'] = sample_dict['age']
del sample_dict['age']
print(sample_dict)

{'Name': 1, 'height': 3, 'year': 2}

In [ ]:
#changing keys with pop
sample_dict['f'] = sample_dict.pop('a')
print(sample_dict)

{'b': 2, 'c': 3, 'f': 1}

#### Exercise - Print Keys and Values

Exercise: Given the dictionary, print all keys and their corresponding values using a loop.

In [ ]:
fruits = {"apple": 10, "banana": 20, "cherry": 30}

In [ ]:
for fruit, quantity in fruits.items():
    print(f"Fruit: {fruit}, Quantity: {quantity}")

Fruit: apple, Quantity: 10
Fruit: banana, Quantity: 20
Fruit: cherry, Quantity: 30

##### Answer

In [ ]:
for fruit in fruits.values():
    print(fruit)

10
20
30

#### Exercise - Update Dictionary Values

 Exercise: Use a loop to double the quantity of each fruit and print the updated dictionary.

##### Answer

### Part 6: More Complex Loop Combinations

#### Nested Loops with Data Structures

Using nested loops to interact with multiple data structures such as lists of dictionaries can be particularly powerful.

##### Demonstration of Nested Loops

In [ ]:
# Demonstration: Use a nested loop to iterate over a list of dictionaries
users = [{"name": "Alice", "age": 25}, {"name": "Bob", "age": 30}, {"name": "Charlie", "age": 35}]
for user in users:
    for key, value in user.items():
        print(f"{key}: {value}")

name: Alice
age: 25
name: Bob
age: 30
name: Charlie
age: 35

#### Exercise - Sum Values in Nested Structures

##### Exercise: Given a list of dictionaries, use a  x = 5 loop to calculate the total age of all users.

In [ ]:
total_age = 0
for user in users:
    total_age += user["age"]
print(f"Total Age: {total_age}")

Total Age: 90

In [ ]:
def fact(x):
  if (x == 1 or x==0):
    pass
  else:
    x=x*fact(x-1)
    print(x)
  return x

print(fact(10))

2
6
24
120
720
5040
40320
362880
3628800
3628800

### Final Comprehensive Exercise (15 minutes)

#### Complex Data Handling Task

This task will combine all the skills learned in today’s session. You’ll work with lists, dictionaries, loops, and conditional statements to solve a practical problem.

#### Exercise - School Database Simulation

Create a small program to manage a school system that handles student grades.

Data structure: A list of dictionaries, each containing the student's name, a list of their grades, and their class name.

In [ ]:
students = [
    {"name": "John", "grades": [88, 76, 92, 56], "class": "biology"},
    {"name": "Jane", "grades": [80, 80, 84], "class": "chemistry"},
    {"name": "Dave", "grades": [78, 80, 88,21,19], "class": "algebra"}
]

#### Task: Calculate the average grade for each student and determine if they pass (average >= 80) or fail.

##### Answer

In [ ]:
#code

John in biology - Average Grade: 85.33333333333333, Status: pass
Jane in chemistry - Average Grade: 81.33333333333333, Status: pass
Dave in algebra - Average Grade: 82.0, Status: pass